:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

input,
button {
  outline: none;
}
